name: Pull Request Lint

on: [pull_request]

jobs:
  docker-lint:
    uses: entur/gha-docker/.github/workflows/lint.yml@v1
  python-lint:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1 # v3.5.1
      - run: ruff check
      - run: ruff format --check
