name: Pull Request Lint

on: [pull_request]

jobs:
  docker-lint:
    uses: entur/gha-docker/.github/workflows/lint.yml@v1
  python-lint:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - uses: astral-sh/ruff-action@0c50076f12c38c3d0115b7b519b54a91cb9cf0ad # v3.5.0
      - run: ruff check
      - run: ruff format --check
