name: Pull Request Lint

on: [pull_request]

jobs:
  docker-lint:
    uses: entur/gha-docker/.github/workflows/lint.yml@v1
  python-lint:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - uses: astral-sh/ruff-action@c6bea5606c33b5d04902374392d9233464b90660 # v3.3.0
      - run: ruff check
      - run: ruff format --check
