name: Pull Request Lint

on: [pull_request]

jobs:
  docker-lint:
    uses: entur/gha-docker/.github/workflows/lint.yml@v1
  python-lint:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - uses: astral-sh/ruff-action@9828f49eb4cadf267b40eaa330295c412c68c1f9 # v3.2.2
      - run: ruff check
      - run: ruff format --check
